extends layout

include mixins/_reviewForm
include mixins/_review

block content
    .container
        .mb-3.card
            img.card-img-top(src=`/uploads/${stay.photo || 'stay.png'}`)
            .card-body
                h5.fs-0 #{stay.name}
                p.mb-0= stay.price
                p.mb-0= stay.location
                p.mb-0= stay.guests


        .no-gutters.row
            .pr-lg-2.col-lg-6
                .card
                    .card-body
                        p=stay.description
                        if stay.tags
                            each tag in stay.tags
                                a.badge.border.mr-1(href=`/tags/${tag}`) ##{tag}
        if user
            .no-gutters.row
                .pt-3.lg-2.col-lg-12
                    .card
                        .card-body
                            +reviewForm(stay)
        if stay.reviews
            each r in stay.reviews
                .no-gutters.row
                        .pt-3.lg-2.col-lg-12
                            .card
                                .card-body
                                    +review(r)