extends layout

block content
    .container
        h2 Top #{stays.length} Stays
        table.table
            thead
                tr
                    th(scope="col") #
                    th(scope="col") photo
                    th(scope="col") name
                    th(scope="col") reviews
                    th(scope="col") average rating
            tbody
                each stay, i in stays
                    tr
                        th(scope="row") #{i + 1}
                        td
                            a(href=`/stay/${stay.slug}`)
                                img(width=200 src=`/uploads/${stay.photo || 'stay.png'}`
                                alt=stay.name)
                        td
                            a(href=`/stay/${stay.slug}`)= stay.name
                        td #{stay.reviews.length}
                        td #{Math.round(stay.averageRating * 10) / 10} / 5